RTU/Connected Services/DigitalInputServiceRef/DigitalInputService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="DigitalInputService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4062/Impl/DigitalInputService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4062/Impl/DigitalInputService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4062/Impl/DigitalInputService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORE.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDigitalInputService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IDigitalInputService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitalInputService_SendFromRTU_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFromRTU" />
  </wsdl:message>
  <wsdl:message name="IDigitalInputService_SendFromRTU_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFromRTUResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitalInputService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IDigitalInputService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitalInputService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IDigitalInputService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDigitalInputService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IDigitalInputService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:portType name="IDigitalInputService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitalInputService/GetAll" message="tns:IDigitalInputService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitalInputService/GetAllResponse" message="tns:IDigitalInputService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFromRTU">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitalInputService/SendFromRTU" message="tns:IDigitalInputService_SendFromRTU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitalInputService/SendFromRTUResponse" message="tns:IDigitalInputService_SendFromRTU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitalInputService/Add" message="tns:IDigitalInputService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitalInputService/AddResponse" message="tns:IDigitalInputService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitalInputService/Delete" message="tns:IDigitalInputService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitalInputService/DeleteResponse" message="tns:IDigitalInputService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IDigitalInputService/Edit" message="tns:IDigitalInputService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDigitalInputService/EditResponse" message="tns:IDigitalInputService_Edit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDigitalInputService" type="tns:IDigitalInputService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IDigitalInputService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFromRTU">
      <soap:operation soapAction="http://tempuri.org/IDigitalInputService/SendFromRTU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IDigitalInputService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IDigitalInputService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IDigitalInputService/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DigitalInputService">
    <wsdl:port name="BasicHttpBinding_IDigitalInputService" binding="tns:BasicHttpBinding_IDigitalInputService">
      <soap:address location="http://localhost:4062/Impl/DigitalInputService.svc/DigitalInput" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>