Trending/Connected Services/RecordServiceRef/RecordService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RecordService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4062/Impl/RecordService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4062/Impl/RecordService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4062/Impl/RecordService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:4062/Impl/RecordService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CORE.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecordService_GetCurrent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrent" />
  </wsdl:message>
  <wsdl:message name="IRecordService_GetCurrent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRecordService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordService_GetAllInPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInPeriod" />
  </wsdl:message>
  <wsdl:message name="IRecordService_GetAllInPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordService_MostRecentAI_InputMessage">
    <wsdl:part name="parameters" element="tns:MostRecentAI" />
  </wsdl:message>
  <wsdl:message name="IRecordService_MostRecentAI_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostRecentAIResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordService_MostRecentDI_InputMessage">
    <wsdl:part name="parameters" element="tns:MostRecentDI" />
  </wsdl:message>
  <wsdl:message name="IRecordService_MostRecentDI_OutputMessage">
    <wsdl:part name="parameters" element="tns:MostRecentDIResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordService_GetAllForTag_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllForTag" />
  </wsdl:message>
  <wsdl:message name="IRecordService_GetAllForTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllForTagResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecordService">
    <wsdl:operation name="GetCurrent">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordService/GetCurrent" message="tns:IRecordService_GetCurrent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordService/GetCurrentResponse" message="tns:IRecordService_GetCurrent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordService/GetAll" message="tns:IRecordService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordService/GetAllResponse" message="tns:IRecordService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordService/GetAllInPeriod" message="tns:IRecordService_GetAllInPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordService/GetAllInPeriodResponse" message="tns:IRecordService_GetAllInPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostRecentAI">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordService/MostRecentAI" message="tns:IRecordService_MostRecentAI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordService/MostRecentAIResponse" message="tns:IRecordService_MostRecentAI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostRecentDI">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordService/MostRecentDI" message="tns:IRecordService_MostRecentDI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordService/MostRecentDIResponse" message="tns:IRecordService_MostRecentDI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllForTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecordService/GetAllForTag" message="tns:IRecordService_GetAllForTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecordService/GetAllForTagResponse" message="tns:IRecordService_GetAllForTag_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecordService" type="tns:IRecordService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrent">
      <soap:operation soapAction="http://tempuri.org/IRecordService/GetCurrent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IRecordService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInPeriod">
      <soap:operation soapAction="http://tempuri.org/IRecordService/GetAllInPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostRecentAI">
      <soap:operation soapAction="http://tempuri.org/IRecordService/MostRecentAI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostRecentDI">
      <soap:operation soapAction="http://tempuri.org/IRecordService/MostRecentDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllForTag">
      <soap:operation soapAction="http://tempuri.org/IRecordService/GetAllForTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecordService">
    <wsdl:port name="BasicHttpBinding_IRecordService" binding="tns:BasicHttpBinding_IRecordService">
      <soap:address location="http://localhost:4062/Impl/RecordService.svc/Record" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>