ReportManager/Connected Services/AnalogInputServiceRef/AnalogInputService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4062/Impl/AnalogInputService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORE.Models" />
  <xs:import schemaLocation="http://localhost:4062/Impl/AnalogInputService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CORE.Models" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfAnalogInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFromRTU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IOAdress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFromRTUResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordAlarmsInPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="low" type="xs:dateTime" />
        <xs:element minOccurs="0" name="high" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordAlarmsInPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CORE.Models" minOccurs="0" name="GetRecordAlarmsInPeriodResult" nillable="true" type="q2:ArrayOfRecordAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordAlarmsByPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CORE.Models" minOccurs="0" name="priority" type="q3:Priority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecordAlarmsByPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CORE.Models" minOccurs="0" name="GetRecordAlarmsByPriorityResult" nillable="true" type="q4:ArrayOfRecordAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScanDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="current" nillable="true" type="q5:ArrayOfKeyValueOfstringdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>