AlarmDisplay/Connected Services/AlarmServiceRef/AlarmService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CORE.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CORE.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTriggeredAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TriggeredAlarm" nillable="true" type="tns:TriggeredAlarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTriggeredAlarm" nillable="true" type="tns:ArrayOfTriggeredAlarm" />
  <xs:complexType name="TriggeredAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputTagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Limit" type="xs:double" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TriggeredAlarm" nillable="true" type="tns:TriggeredAlarm" />
</xs:schema>