ReportManager/Connected Services/RecordServiceRef/RecordService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4062/Impl/RecordService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:4062/Impl/RecordService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CORE.Models" />
  <xs:element name="GetCurrent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCurrentResult" nillable="true" type="q1:ArrayOfKeyValueOfstringdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CORE.Models" minOccurs="0" name="GetAllResult" nillable="true" type="q2:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="low" type="xs:dateTime" />
        <xs:element minOccurs="0" name="high" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllInPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CORE.Models" minOccurs="0" name="GetAllInPeriodResult" nillable="true" type="q3:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostRecentAI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostRecentAIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CORE.Models" minOccurs="0" name="MostRecentAIResult" nillable="true" type="q4:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostRecentDI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostRecentDIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CORE.Models" minOccurs="0" name="MostRecentDIResult" nillable="true" type="q5:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllForTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllForTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CORE.Models" minOccurs="0" name="GetAllForTagResult" nillable="true" type="q6:ArrayOfRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsInPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="low" type="xs:dateTime" />
        <xs:element minOccurs="0" name="high" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsInPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CORE.Models" minOccurs="0" name="GetAlarmsInPeriodResult" nillable="true" type="q7:ArrayOfAlarmRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CORE.Models" minOccurs="0" name="priority" type="q8:Priority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsByPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CORE.Models" minOccurs="0" name="GetAlarmsByPriorityResult" nillable="true" type="q9:ArrayOfAlarmRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>