DatabaseManager2/Connected Services/AlarmCrudReference/AlarmCRUDService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AlarmCRUDService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4062/Impl/AlarmCRUDService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4062/Impl/AlarmCRUDService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4062/Impl/AlarmCRUDService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CORE.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlarmCRUDService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IAlarmCRUDService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmCRUDService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IAlarmCRUDService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmCRUDService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IAlarmCRUDService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlarmCRUDService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmCRUDService/Add" message="tns:IAlarmCRUDService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmCRUDService/AddResponse" message="tns:IAlarmCRUDService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmCRUDService/Delete" message="tns:IAlarmCRUDService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmCRUDService/DeleteResponse" message="tns:IAlarmCRUDService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmCRUDService/GetAll" message="tns:IAlarmCRUDService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmCRUDService/GetAllResponse" message="tns:IAlarmCRUDService_GetAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlarmCRUDService" type="tns:IAlarmCRUDService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IAlarmCRUDService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IAlarmCRUDService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IAlarmCRUDService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlarmCRUDService">
    <wsdl:port name="BasicHttpBinding_IAlarmCRUDService" binding="tns:BasicHttpBinding_IAlarmCRUDService">
      <soap:address location="http://localhost:4062/Impl/AlarmCRUDService.svc/AlarmCRUD" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>