RTU/Connected Services/AlarmServiceRef/AlarmService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4062/Impl/AlarmService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CORE.Models" />
  <xs:complexType name="ArrayOfKeyValueOfAlarmdoublezv9cCcmn">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfAlarmdoublezv9cCcmn">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CORE.Models" name="Key" nillable="true" type="q1:Alarm" />
            <xs:element name="Value" type="xs:double" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfAlarmdoublezv9cCcmn" nillable="true" type="tns:ArrayOfKeyValueOfAlarmdoublezv9cCcmn" />
</xs:schema>